<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_path %>" class="logo">
      <%= image_tag("logo_color.svg", size: "53x80", alt: "Logo") %>
    </a>
    <a href="<%= root_path %>" class="logo-domain">trocadesementes.pt</a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "Sementes", seeds_path, class: cp(seeds_path) %></li>
          <li class="nav-link"><a href="#">Hortas Comunitárias</a></li>
          <li class="nav-link"><a href="#">Notícias</a></li>
          <li class="nav-link"><%= link_to "Termos e Condições", terms_path, class: cp(terms_path) %></li>
          <li class="nav-link more"><a href="javascript:void(0)">
            <div class="user--nav_img">
              <div class="heightContainer">
                     <%= image_tag current_user.photo %>
              </div>
            </div>
            <%= current_user.name %></a>
             <ul class="submenu">
               <li><%= link_to "Conta", edit_user_registration_path %></li>
               <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
             </ul>
          </li>
        <% else %>
          <li class="nav-link"> <%= link_to "Entrar", new_user_session_path %></li>
          <li class="nav-link"> <%= link_to "Registrar", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
