<%= simple_form_for @seed, html: { multipart: true } do |f| %>
  <% if @seed.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@seed.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @seed.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :common_name, label: 'Nome comum:', input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :scientific_name, label: 'Nome científico:', input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: 'Descrição:', input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :production_year, label: 'Ano de Produção:', input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :location, label: 'Localidade:', input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :image, label: 'Imagem:', input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit,  class: "btn btn-primary" %>
<% end %>
