

<div class="seeds--stats">
    <div class="community">
      <h1>Comunidade</h1>
      <p><i class="fa fa-users"></i> Membros registados: <%= User.count %></p>
      <p class="facebook"><i class="fa fa-thumbs-up"></i> Grupo Facebook: </p>
      <p class="online"><i class="fa fa-circle"></i> Membros online: <%= users_online %></p>
    </div>
  </div>

<div class="seeds--wrapper">

  <div class="seeds--feed transitions-enabled" id="seeds">
    <% @seeds.each do |seed| %>
      <div class="seeds--card">

        
        <%= link_to seed do %>
          <figure>
            <%= image_tag seed.image.url(:medium) %>
            <div class="overlay">
              <a href="#">Facebook</a>
            </div>
          </figure>
        <% end %>

        <div class="seeds--card__content">
          <%= link_to (seed), :class => "seeds--card__type" do %>
            <div>
              <h1><%= seed.title %></h1>
              <p><%= seed.description %></p>
            </div>
          <% end %>

          <div class="seeds--card__user">

            <a href="#">

              <div class="seeds--card__userimg">
                  <div class="heightContainer">
                     <% if seed.user.photo %>
                        <%= image_tag seed.user.photo %>
                    <% else %>
                        <%= image_tag("avatar-placeholder.jpg") %>
                    <% end %> 
                  </div>
              </div>

              <div class="seeds--card__username">
                <%= seed.user.name  %>
              </div>

              <div class="seeds--card__userlocation">
                <%= seed.user.location  %>
              </div>

              <span class="seeds--card__userstatus <%= seed.user.online? %>" >
              </span>
            </a>
          </div>

          <div class="seeds--card__popularity">
            <ul>
              <li>
                <a href="">
                  
                </a>
                <%= link_to like_seed_path(seed), method: :put do  %>
                  <i class="fa fa-heart"></i>
                <% end  %>
                <span><%= seed.get_upvotes.size  %></span>
              </li>
              <li>
                <a href="#">
                  <a href="">
                    <i class="fa fa-comment"></i>
                  </a>
                  <span>13</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="seeds--card__wantbutton">
            <a href="#">quero!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  
</div>

<a href="<%= new_seed_path %>" class="newseed"><i class="fa fa-plus"></i></a>
