<!DOCTYPE html>
<html>
<head>
  <title>Troca de Sementes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//use.typekit.net/zgd8tfc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<main>
    <%= render 'partials/navbar' %>

     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: "alert alert-green" %>
     <% end %>
     <%= yield %> 
  </main>

  <%= render 'partials/footer' %>
</body>
